._3ReqB9aX8-_3Y2JzccBQwL {
  background: #fafafa;
  border-radius: 3px 3px 0 0; }

._4s0WIwDa0hZNR3MSM2O2K {
  vertical-align: top;
  padding: 15.5px 16px 15.5px 16px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500; }

._5YWW7luphIENNNgxaMUvJ {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45); }

._2EfvvY8M2CNq6rAsUWeIwx {
  border-bottom: 1px solid #e8e8e8; }

.upward {
  position: relative;
  z-index: 999;
  box-shadow: 0 -1px 0 #547DFC; }

.downward {
  position: relative;
  z-index: 999;
  box-shadow: 0 1px 0 #547DFC; }

.middle {
  position: relative;
  z-index: 999;
  box-shadow: 0 -1px 0 #547DFC, 0 1px 0 #547DFC,  1px 0 0 #547DFC, -1px 0  0 #547DFC; }

.Z8L96HeIL5DHJ-sONWXP3 {
  border-top: 1px solid #e8e8e8;
  background-color: #fff;
  display: flex;
  transition: background-color 1s; }
  .Z8L96HeIL5DHJ-sONWXP3:hover {
    background-color: #f0f6ff; }

._1nrSZloHLi7xkMF3KAQoJp {
  vertical-align: top;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 16px;
  word-break: break-word; }

.-qTMfib_ax2R8Q8E4xa6v {
  display: inline-flex;
  align-self: stretch;
  align-items: center; }

.jMnQhlvc-zbz05b2el4Lo {
  cursor: pointer;
  color: #bababa;
  margin-right: 6px;
  font-size: 12px;
  transform: scale(0.9); }

.IXEf51eVZgYdohhnDEmiK {
  margin-right: 2.8px;
  color: #848795;
  font-size: 16px; }
  .IXEf51eVZgYdohhnDEmiK[class*="icon-ym1"] {
    vertical-align: -2px !important; }

._2dUoRPd-gWqPX7HVsxre-x {
  font-size: 14px; }

.jMnQhlvc-zbz05b2el4Lo, .IXEf51eVZgYdohhnDEmiK, ._2dUoRPd-gWqPX7HVsxre-x {
  vertical-align: middle; }

._1FIPdEjdEwcl0mKKm94tI {
  width: 100%;
  font-family: PingFangSC-Medium;
  line-height: 1.5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04); }
  ._1FIPdEjdEwcl0mKKm94tI tr.downward td {
    border-bottom: 2px dashed #1890ff; }
  ._1FIPdEjdEwcl0mKKm94tI tr.upward td {
    border-top: 2px dashed #1890ff; }
  ._1FIPdEjdEwcl0mKKm94tI tr.middle td {
    background-color: #1890ff; }

